.img-bg{
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 20px;
    height: 100%;
    width: 100%;
}
.single{
    display: flex;
    width: 28rem;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    background:transparent;
    font-weight: 700;
    color:  #1034A6;
    margin: 0px auto;
    backdrop-filter: blur(5px);
    position: relative;
    box-shadow:0 0 20px 5px white;
}
.desc,.release{
    color: #BA0021;
    font-weight: 500;

}
@media screen and (max-width:600px){
    .single{
        width: 20rem;
        text-align: center;
        padding: 20px;
        font-size: small;
        backdrop-filter: blur(8px);
    }
    .img-bg{
        height:100vh;
    }
}
