.profile__body{
    margin-top: 5rem;
    padding: 10px;   
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.user__img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.img__uploader{
    margin-bottom: 5rem;
    display: flex;
    gap: 30px;
}

.sub__header{
    font-weight: 600;
    font-size: larger;
    color: red;
    position: relative;
    right: 50px;
}
.sub__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    font-size: medium;
}
.main__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logout__btn{
    margin-top: 50px;
    border: none;
    border-radius: 10px;
    width: 10rem;
    height: 30px;
    padding: 5px 10px;
    background-color: red;
    color: white;
}
.plan{
    font-size: large;
    margin-bottom: 1px;
}
.rupee{
    font-family:Arial;
    color: blue;
}
.img__inp{
    position: relative;
    top: 100px;
    font-family: 'Poppins';
    height: 20px;
    width: 200px;
}
.img__inp:hover{
    outline: none;
}
.plans__container{
    padding: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.foot{
    width:99.4%;
}
@media screen and (max-width:600px) {
    .sub__header{
        right: 0;
    }

    .sub__list{
        gap: 50px;
    }
}